.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Academia Play.
                    td Video
                    td 
                        a(href="https://youtu.be/IZd1CCER98s", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver   
                tr
                    td Chiavenato, 2017, Planeación estratégica. Fundamentos y aplicaciones.
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5345&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar      
                tr
                    td Forero, S. 2017 Fundamentos de mercadeo
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5045&pg=5", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                       
                tr
                    td Kotler,2016, Dirección de marketing
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4273&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     
                tr
                    td Kotler & Amstrong, 2017 Fundamentos de marketing
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4393&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 
                tr
                    td Prettel,2016, Marketing, una herramienta para el crecimiento.
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=5684&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 
                tr
                    td Rodriguez,2017, Cómo aplicarla planeación estratégica a la pequeña   y mediana empresas.
                    td Libro
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3233&pg=1", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  
               
                   
                           