.container#tema_1

    .header-ecored
        h1 1. Plataforma estratégica

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.2 Direccionamiento estratégico

      .row.justify-content-center.align-items-center.mb-5  
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_01.svg", alt="").img-fluid       
        .col-12.mb-6
          p Es el arte y la ciencia de formular, implantar y evaluar las decisiones a través de las funciones que permitan a una empresa lograr los objetivos. Se centra en la gerencia, el mercadeo, las finanzas, la contabilidad, la producción, las operaciones, la investigación y desarrollo y los sistemas de investigación para lograr el éxito de la empresa.
        .col-12
          .header-arrow
            h3.text-center Etapas

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_01.svg", alt="")
              .card__body 
                p.mb-3 #[strong Formulación de la estrategia]
                p.mb-0 Creación de planeación estratégica: Misión, visión, identificación de debilidades, fortalezas, amenazas y oportunidades, determinación de objetivos y creación de estrategias.
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_02.svg", alt="")
              .card__body 
                p.mb-3 #[strong Implantación de la estrategia]
                p.mb-0 Diseño de políticas, motivación de empleados, distribución de recursos según la estrategia a implantar.
        .col-12.col-lg-9.mb-5
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_03.svg", alt="")
              .card__body 
                p.mb-3 #[strong Evaluación estrategia]
                p.mb-0 Están sujetas a modificación por parte de la gerencia, se mide el rendimiento y se toman las medidas correctivas.
        .col-12.mb-5
          p El direccionamiento estratégico está compuesto en esencia por la planeación estratégica que incluye la misión, visión, objetivos, estrategias y tácticas. 
         
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/info_1_2_01.svg", alt="").img-fluid 
        .col-12
          p Las ventajas de realizar planeación estratégica según (Prettel,2016) son: 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Generar la mejor estrategia de producto, a través de la correcta identificación de las necesidades del mercado.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Generar ventajas competitivas a través de estrategias de diferenciación. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Lograr crecimiento sostenido para la compañía.

      .row.mb-5
        .col-12.mb-5
          h3 Importancia
          p Las organizaciones son administradas de forma adecuada, convencidas de que su futuro depende de ella y de la tecnología. Estas organizaciones esperan que todos sus administradores dediquen gran parte de su tiempo a formular planes, antes de emprender cualquier iniciativa. (Rodriguez,2017)
          p Teniendo en cuenta el liderazgo estratégico que propone Chiavenato (2017) se define la siguiente gráfica para establecer el rumbo del direccionamiento estratégico en las organizaciones.
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/info_1_2_02.svg", alt="").img-fluid       

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Misión   
        .col-12.mb-5
          p La misión de la organización es la declaración de su propósito y alcance, en términos de productos y mercados, responde a la pregunta: “¿Cuál es el negocio de la organización?” Se refiere a su papel en la sociedad donde actúa y explica su razón de ser o de existir. La misión de la organización debe definirse en términos de la satisfacción de alguna necesidad del entorno externo y no en términos de la oferta de un producto o servicio. (Chiavenato,2017). 
        .col-12.mb-5  
          h3 Aspectos
          p Debe considerar los siguientes aspectos: 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p La razón de ser de la organización.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p El papel de la organización en la sociedad.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p La naturaleza del negocio.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p El valor que la organización crea para su interés.        

        .col-12.mb-5  
          h3 Características
          p Kotler (2017) afirma “Las buenas declaraciones de misión tienen cinco características principales:
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Número limitado de metas.  
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Enfatizan las políticas y los valores principales de la empresa.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Definen las esferas competitivas.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Tienen una visión de largo plazo. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Son lo más breves, memorables y significativas posible.        

        .col-12.mb-5  
          h3 Importancia          
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Ayuda a concentrar el esfuerzo de las personas en una sola dirección.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Evita el riesgo de perseguir propósitos contradictorios.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Se enfoca en la ejecución del plan estratégico.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Coincide con las políticas y la definición de los objetivos.
        

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.mb-5
          .header-arrow
            h3.text-center Para la construcción de la misión se deben responder las siguientes preguntas 
        .col-12.d-flex.justify-content-center.my-6
          img(src="assets/images/Pages/tema_1_2/info_1_2_03.svg", alt="").img-fluid    
        .col-12.mb-5
          p La empresa #[strong Servientrega] tiene como misión “Satisfacer totalmente las necesidades de logística y comunicación integral de nuestros Clientes, a través de la excelencia en el servicio, el desarrollo integral de nuestros Líderes de Acción y el sentido de compromiso con nuestra familia y nuestro País”.
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_02.png", alt="").img-fluid  
        .col-12.mb-6          
          p.text-center #[i Fuente: https://www.servientrega.com/wps/portal/Colombia/servientrega/nuestra-mision]
        .col-12.mb-5
          .header-arrow
            h3.text-center Con este ejemplo se analiza si la declaración de misión da respuesta a las preguntas formuladas
        .col-12.d-flex.justify-content-center.my-6
          img(src="assets/images/Pages/tema_1_2/info_1_2_04.svg", alt="").img-fluid  
        .col-12
          p Las declaraciones de misión deben estar orientadas al mercado y definidas en términos de satisfacer las necesidades básicas de los clientes. Los productos y las tecnologías poco a poco se vuelven obsoletos, pero las necesidades del mercado podrían durar para siempre. Por ejemplo, #[strong Facebook] no se define a sí misma como sólo una red social en línea; su misión es #[strong “dar a las personas el poder de compartir y hacer que el mundo esté más abierto y conectado”.](Amstrong,2013)

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Visión
              p La visión organizacional se entiende como el sueño que la organización anhela. Es la imagen de cómo se verá en el futuro. Es la explicación de por qué todos se levantan todos los días, y dedican la mayor parte de su existencia al éxito de la organización en la que trabajan, invierten o hacen negocios. (Chiavenato, 2017)

      .row.justify-content-center.align-items-center.mb-5
        .col-12.mb-5
          .header-arrow
            h3.text-center Premisas

        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_04.svg", alt="")
              .card__body                
                p.mb-0 Adherencia a los hechos reales: las situaciones soñadas deben ser posibles.
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_05.svg", alt="")
              .card__body                 
                p.mb-0 Descripción concisa, pero potente: un enfoque definido enumerando varias dimensiones.
        .col-12.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1_2/icon_1_2_06.svg", alt="")
              .card__body                
                p.mb-0 Equilibrio de los grupos de interés

      .row.justify-content-center.mb-5
        .col-12.mb-3
          p.mb-5 Para la construcción de la visión se deben responder las siguientes preguntas: 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p ¿Qué tipo de empresa queremos ser?
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p ¿En qué tipo de negocios debe entrar la empresa y cuáles deben ser los objetivos de rendimiento?  
        .col-12.mb-6
          p Continuando con el ejemplo de la empresa Servientrega tiene como visión “Queremos que Servientrega sea un modelo de empresa innovadora, líder en servicios de logística y comunicación, por seguridad, oportunidad y cubrimiento en América, con presencia competitiva a nivel mundial”. 
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_03.png", alt="").img-fluid  
        .col-12.mb-6          
          p.text-center #[i Fuente: https://www.servientrega.com/wps/portal/Colombia/servientrega/nuestra-mision]
        .col-12
          p.mb-3 Para la construcción de la visión se deben responder las siguientes preguntas: 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p ¿Qué tipo de empresa queremos ser? un modelo de empresa innovadora, líder en servicios de logística y comunicación
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt              
              p ¿En qué tipo de negocios debe entrar la empresa y cuáles deben ser los objetivos de rendimiento? por seguridad, oportunidad y cubrimiento en América, con presencia competitiva a nivel mundial.

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Objetivos              

      .row.justify-content-center.align-items-center.mb-6 
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_04.svg", alt="").img-fluid       
        .col-12.mb-6
          p Un objetivo define a dónde se pretende llegar al final. Es el resultado esperado después de cumplir con un plan estratégico.  Dentro de una correcta planeación, se deben definir tanto el objetivo de la compañía, como objetivos para cada departamento, los cuales deben ser claros y precisos. (Prettel,2016)
          p Los objetivos organizacionales son resultados que una empresa pretende alcanzar o hasta donde espera llegar, se logra la eficiencia en la medida en que alcanza sus objetivos.
        .col-12.mb-6
          h3 Características de los objetivos
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_05.svg", alt="", style="width:300px").img-fluid
        .col.mb-5.mb-lg-0
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Medibles]
              p.mb-0 Mensurables, deben ser cuantitativos y estar ligados a un límite de tiempo. “Aumentar las ventas en un 20% para el próximo mes”.   
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Claros]
              p.mb-0 Los objetivos deben tener una definición clara, entendible y precisa. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Alcanzables]
              p.mb-0 Los objetivos deben ser posibles de alcanzar.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Desafiantes]
              p.mb-0 Deben ser retadores, pero realistas.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Realistas]
              p.mb-0 Deben tener en cuenta las condiciones y circunstancias del entorno en donde se pretenden cumplir.   
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Coherentes]
              p.mb-0 Deben estar alineados y ser coherentes con otros objetivos, con la visión, la misión, las políticas, la cultura organizacional y valores de la empresa. 

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.mb-5
          p Los objetivos organizacionales pueden enfocarse en cada una de las áreas de la organización como lo muestra la siguiente figura.
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/info_1_2_05.svg", alt="").img-fluid

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Políticas

      .row.justify-content-center.align-items-center.mb-5
        .col
          p Las políticas dentro de una organización pueden ser de tipo: Económico, social, político, financiero, ambiental, de comunicaciones, de tecnologías de la información incluso de cero tolerancias frente al fraude, la corrupción y el soborno.
          p Estas políticas deben ser cumplidas por todos los miembros de la empresa.
        .col-auto.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_06.svg", alt="",
          style="width:300px").img-fluid

      .row.justify-content-center.align-items-center.mb-5
        .col-12.mb-5
          h3.mb-3 Importancia
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Permite las empresas ser proactivas al definir su propio futuro
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Plantea mejores estrategias
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Mejor comunicación empresarial
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Mejoras financieras en ventas, rentabilidad y productividad
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Son empresas de alto rendimiento porque toman decisiones basados en información 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Fomenta una actitud favorable al cambio
        .col-12.mb-5
          p La empresa Servientrega presenta unas políticas integrales basadas en la satisfacción del cliente, el mejoramiento continuo, prevención de actividades ilícitas, uso y tratamiento de la información, entornos de trabajo seguros y saludables, protección al medio ambiente, cumplimiento de las legislaciones e innovación y posicionamiento de marca. Para el caso específico de su negocio tiene políticas de seguridad vial.  
        .col-auto.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_07.png", alt="").img-fluid

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Estrategias

      .row.justify-content-center.align-items-center.mb-5  
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_08.svg", alt="").img-fluid       
        .col-12
          p Son acciones con las que se espera lograr un resultado y que pueden estar relacionadas entre sí. Es decir, toda estrategia mediante un programa sistemático a cumplir; debe conducir al logro de un objetivo, alcanzable. (Prettel,2016)
          p Las estrategias deben desarrollar una ventaja competitiva de una empresa y la acentúe, de forma que ésta logre crecer y expandir su mercado reduciendo la competencia.

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Tácticas

      .row.justify-content-center.align-items-center.mb-5  
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1_2/img_1_2_09.svg", alt="").img-fluid       
        .col-12
          p La táctica determina la manera como se va a implementar la estrategia. Son todos los elementos que intervienen en el plan de acción. (Prettel,2016)
          p La táctica tiene que ver con la forma de hacer las cosas, y aplica para tareas concretas, cosas puntuales que hacen parte del conjunto de acciones que se requieren para alcanzar el fin propuesto.

      .row
        .col-6
          .custom-table__title
            p Estrategias
        .col-6 
          .custom-table__title.ct-color
            p Tácticas 
      .row
        .col-6
          .custom-table__item
            p.mb-0 La estrategia es global, completa, integral, abarca el todo del fin perseguido.
        .col-6
          .custom-table__item
            p.mb-0 Las tácticas corresponden a partes o sub-partes del conjunto de acciones trazadas en la estrategia.
      