.container#tema_1

    .header-ecored
        h1 1. Plataforma estratégica

    .jumbotron.bg-white
      .row.justify-content-center.align-items-center.mb-5  
        .col-12.col-lg-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_1/img_1_01.svg", alt="", style="width:100%").img-fluid.mt-5
        .col-12
          p La plataforma estratégica es la estructura conceptual sobre la cual se rige una organización. Está compuesta por su identidad corporativa, organigrama, niveles jerárquicos y el direccionamiento estratégico. 
          p.mb-0 Laínez y Bellostas (1991), plantean que el objetivo principal de la dirección estratégica es formular la estrategia y los planes de actuación empresarial, intentando anticiparse a previsibles acontecimientos futuros. 
