.container#tema_2

    .header-ecored
        h1 2. Mezcla de Mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 2.2 Precio

      .row.justify-content-center.align-items-center.mb-5  
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_2_2/img_2_2_01.svg", alt="", style="width:300px").img-fluid       
        .col
          p Es el valor monetario que se le asigna a algo. Todos los productos y servicios que se ofrecen en el mercado tienen un precio, que es el dinero que el comprador o cliente debe abonar para concretar la operación. Ejemplo, los dulces Carnaval de fantasía tienen un precio de $2.890 en paquete de 400 gr. 
          p #[strong Ejemplo]
          p Si el precio de un vestido en StudioF es de $120.000, la persona deberá pagar dicha cifra para llevarse el producto. En los servicios en ocasiones, el precio suele estar vinculado a una cuota que deben abonarse de manera periódica. Ejemplo, Une puede tener un precio de $20.000 al mes
          p Al establecer el precio, se debe tener en cuenta el valor percibido por el cliente y cuanto está dispuesto a pagar por el producto. En muchas ocasiones un precio alto es sinónimo de calidad.

      .row
        .col-12
          h3 Decisiones relativas al precio
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt                         
              p Costos del producto.
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt                         
              p Margen Utilidad o ganancia.
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt                         
              p Los descuentos: por volumen, por pronto pago, forma de pago, Kit, entre otros.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt                         
              p Precios de la competencia.
        .col-12
          p Según (Stanton,2007) Poner el precio base para un producto es una decisión de marketing. Otras estrategias necesarias corresponden al cambio de precios, a asignar precios a artículos relacionados entre sí dentro de una línea de producto, a los términos de la venta y a los posibles descuentos. Una decisión especialmente difícil es la de elegir el precio de un producto nuevo.
