.container#tema_1

    .header-ecored
        h1 1. Plan de mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.4 Análisis situacional

      .row.justify-content-center.align-items-center
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_4/img_1_4_01.svg", alt="").img-fluid                    
        .col-12.mb-5
          p El análisis situacional de una organización incluye el análisis interno que son debilidades y fortalezas y el análisis externo oportunidades y amenazas, para con esto a través de herramientas diagnósticas como la matriz DOFA cruzada, encontrar las estrategias que la organización necesita para lograr los objetivos planteados en el direccionamiento estratégico. 
          p En el enfoque de Forero (2017) se definen las variables internas y externas a partir del grado de control que tiene la organización como:  variables no controlables, variables semi controlables y variables controlables.
        .col-12.col-lg-9.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_4/info_1_4_01.svg", alt="", style="width:100%").img-fluid 
          
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-2 #[strong Variables controlables] 
              p Empleados, cultura organizacional, los productos y servicios ofertados, el precio, la plazo o distribución y la comunicación y publicidad.
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p.mb-2 #[strong Variables semicontrolables] 
              p Proveedores, intermediarios, clientes y públicos o steckholders.
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p.mb-2 #[strong Variables no controlables ] 
              p Como situación del entorno (política, demográfica, sociocultural, económica, ecológica y tecnológica) y la competencia. 

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Análisis interno             
              p Un análisis interno consiste en la identificación y evaluación de los diferentes factores o elementos que puedan existir dentro de una empresa.

      .row.justify-content-center
        .col-8.col-lg-4.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_4/info_1_4_02.svg", alt="", style="width:100%").img-fluid  
        .col-8.col-lg-4.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_4/info_1_4_03.svg", alt="", style="width:100%").img-fluid       

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Análisis externo             
              p La organización no existe ni puede existir fuera de un ambiente, fuera de ese entorno que le rodea; así que el análisis externo permite fijar las oportunidades y amenazas que el contexto puede presentarle a una organización.
              p Una amenaza del entorno es un desafío planteado por una tendencia o un desarrollo desfavorable que podría producir menores ventas o ganancias. Las amenazas se deben clasificar como importantes cuando tienen una alta probabilidad de ocurrir y dañar seriamente a la organización, es preciso diseñar planes de contingencia y cuando tienen poca importancia y pueden ignorarse. (Kotler,2016)

      .row.justify-content-center
        .col-8.col-lg-4.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_4/info_1_4_04.svg", alt="", style="width:100%").img-fluid  
        .col-8.col-lg-4.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_4/info_1_4_05.svg", alt="", style="width:100%").img-fluid  

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3.mb-5 Herramientas diagnósticas
              h3 DOFA            
              p Orígenes: El análisis DOFA surgió de una investigación en Stanford Research Institute entre 1960 y 1970 por la necesidad de descubrir por qué falla la planificación corporativa. 
              p Es una herramienta de gran utilidad para entender y tomar decisiones en toda clase de situaciones en negocios y empresas.
              p El análisis DOFA es una herramienta que permite conformar un cuadro de la situación actual de la empresa u organización, permitiendo diagnosticar en función de ello tomar decisiones acordes con los objetivos y políticas formulados.
              p El término DOFA es una sigla conformada por las primeras letras de las palabras Fortalezas, Oportunidades, Debilidades y Amenazas. 
      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_4/info_1_4_06.svg", alt="", style="width:100%").img-fluid  

      .hr-divider.my-5

      .row.mb-5      
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Normas ISO
              p Las normas ISO son generadas por la INTERNATIONAL ORGANIZATION FOR STANDARIZATION, cuya sigla es ISO, esta organización está formada por los organismos de normalización de casi todos los países del mundo. Cada país produce normas donde asisten representantes de la industria y organismos estatales.

      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1_4/info_1_4_07.svg", alt="", style="width:100%").img-fluid  
