.container#tema_2

    .header-ecored
        h1 2. Mezcla de Mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 2.4 Promoción y publicidad

      .row.justify-content-center.align-items-center
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_2_4/img_2_4_01.svg", alt="").img-fluid       
        .col-12
          p La acción y efecto de promover se conoce como promoción, y son actividades que se desarrollan con la intención de dar a conocer un producto o de incrementar su comercialización y venta.
          p Los descuentos, las muestras gratuitas, los cupones, los reembolsos, los premios, los regalos publicitarios y los concursos son algunas de las herramientas que pueden utilizarse en una promoción de ventas.
          p La publicidad es el conjunto de estrategias con las que una empresa da a conocer sus productos a la sociedad. La publicidad utiliza como principal herramienta los medios de comunicación.
          p Según (Stanton,2007) Se necesitan estrategias para combinar los métodos individuales, como la publicidad, las ventas personales y la promoción de ventas en una campaña de comunicación integrada. Además, hay que ajustar las estrategias de presupuestos de promoción, mensajes y medios a medida que un producto rebasa sus primeras etapas de vida.
