.container#tema_2

    .header-ecored
        h1 2. Mezcla de Mercadeo

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 2.3 Plaza y distribución

      .row.justify-content-center.align-items-center 
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_2_3/img_2_3_01.svg", alt="").img-fluid.my-5 
        .col-12.mb-5
          p La plaza o distribución es muy importante, pues los mayoristas deben elegir su ubicación, instalaciones y sitio web de manera cuidadosa. En una época los mayoristas solían situarse en áreas con rentas e impuestos bajos, e invertían poco dinero en sus edificios, equipo y sistemas. Sin embargo, con los avances de la tecnología, estas decisiones dan como resultado sistemas obsoletos para el manejo de materiales, procesamiento de pedidos y entregas. Los minoristas a menudo citan tres factores clave para el éxito: ¡ubicación, ubicación y ubicación! Es muy importante que los minoristas seleccionen lugares que sean accesibles al mercado meta en áreas consistentes con su posicionamiento. (Kottler,2017)
          p La distribución consiste en hacer llegar físicamente el producto al consumidor. Para que la distribución sea exitosa, el producto debe estar a disposición del potencial comprador en el momento y el lugar indicado. Ejemplo, la distribución de Gatorade durante un evento deportivo aumenta su demanda.      
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/Pages/tema_2_3/info_2_3_01.svg", alt="").img-fluid.my-5 

        .col-12.mb-5
          p En la gráfica anterior se definen los diferentes canales de distribución y los intermediarios que intervienen en su propósito fundamental que es llegar el producto o servicio al consumidor final.

        .col-12.mb-5
          h3.mb-5 Integrantes del canal de distribución          
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt  
              p.mb-2 #[strong Productor:] creador, fabricante o inventor de marca.           
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt  
              p.mb-2 #[strong Distribuidor o mayorista:] empresario que favorece la distribución de los productos al minorista.              
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt  
              p.mb-2 #[strong Minorista:] bodega, tienda o almacén de venta directa al consumidor.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt  
              p.mb-2 #[strong Broker:] agente intermediario que vende servicios.              
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt  
              p.mb-2 #[strong Concesionario:] representante autorizado de la marca.              
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt  
              p.mb-2 #[strong Franquicia:] transferencia de derechos de la marca.  

        .col-12.mb-5
          h3.mb-5 Criterios para la selección del canal de distribución
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-2 #[strong Cobertura] 
              p Se cubra la mayor cantidad de mercado potencial que se piense abastecer.
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-2 #[strong Costos de distribución] 
              p Un canal de distribución más largo genera más cobertura y más corto menores son los costos.
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-2 #[strong Control de producto] 
              p Mantener control sobre el transporte y manejo del producto para no afectar su calidad.
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-2 #[strong Fuerza de venta] 
              p Los vendedores llegan a más clientes y generan más utilidades para las empresas.

        .col-12
          p Según (Stanton,2007) Las estrategias de distribución se relacionan con el o los canales por los cuales se transfiere la propiedad de los productos del productor al cliente y, en muchos casos, los medios por los que los bienes se mueven de donde se producen al lugar donde los compra el usuario final. Además, se debe seleccionar a los intermediarios, como mayoristas y detallistas, y designarle a cada uno sus roles.